/* .landing_main_page{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: antiquewhite ;

}
.landing-card{
    left: 3em;
    top: 20em;
    width: 2rem;
    height: 4rem ;
    background-color: blueviolet;
    border: 1px solid black ;
    border-radius: 5px;
    padding: 20px ;
    margin: 10px;
} */

.heading{
    font-size: 5rem;
    display: flex;
    color:#8C6AA0; 
    margin-left: 6rem;
    margin-top: 7rem;
}
.heading-caption{
    font-size: 2rem;
    color: #AE86C6;
    display: flex;
    margin-top: 0rem;
    margin-left: 6rem;
}

/* .cap2{
    font-size: 1.5rem;
    color: #AE86C6;
    display: flex;
    margin-top: 15rem;
    justify-content: center;
    /* margin-left: 6rem; 
} */

.explain{
    /* display:flex; */
    justify-content: center;
    color:white;
    font-size:35px;
    padding-top: 8rem;
    margin: 3rem;
    margin-top:0px;
}
.landing_main_page {
    /* display: flex; */
    margin: 0px;
    top:0px;
    justify-content: left;
    align-items: flex-start; /* Align items to the start of the cross axis (vertical) */
    /* min-height: 100vh; */
    width: 100vw;
    background-image: url("C:\Users\navya\Downloads\pexels-shvetsa-4672717.jpg");
    background-size: cover;
    background-position: center;
    /* max-width: 100%;
    max-height: 100%; */
    height: 100vh;
    width: 100vw;
    display: block;
}

.second-part{
    height: 100vh;
    margin-top: 0px;
    background-color: #8C6AA0;
    background-size: cover;
    background-position: center;
}

.card-container{
    display: flex;
    justify-content: center;
    /* margin-top: 10rem; */
}
/* 
.landing-card {
    width: 15rem; 
    height: 8rem; 
    background-color: #ffc8dd;
    border: 10px solid #cdb4db;
    border-radius: 30px;
    padding: 20px;
    margin-top: 5rem;
    margin: 3rem;
} */

body {
    margin: 0;
    padding: 0;
    /* background-color: #fce6f3; */
    
}

.landing-header{
    margin:0px;
    color: #cdb4db;
}

.cardMediaStyle{
    padding-top: "50%";
    height:140,
  }
